/***************************************
    Fonts
***************************************/

@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,700;1,400;1,700&family=Alegreya+Sans+SC:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Alegreya+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Alegreya:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@400;700&display=swap');

:root
{
    --font-size: 1.6rem;

    --head--font-family: 'Alegreya', serif;
    --head--font-size: var(--font-size);
    --head--font-weight--normal: 400;
    --head--font-weight--heavy: 700;
    --head-sc--font-family: 'Alegreya SC', serif;
    --head-sc--font-size: var(--head--font-size);

    --body--font-family: 'Alegreya Sans', serif;
    --body--font-size: var(--font-size);
    --body--font-weight--normal: 400;
    --body--font-weight--heavy: 700;
    --body-sc--font-family: 'Alegreya Sans SC', serif;
    --body-sc--font-size: var(--body--font-size);

    --tail--font-family: 'Alegreya Sans', serif;
    --tail--font-size: var(--font-size);
    --tail--font-weight--normal: 100;
    --tail--font-weight--heavy: 400;
    --tail-sc--font-family: 'Alegreya Sans SC', serif;
    --tail-sc--font-size: var(--tail--font-size);

    --mono--font-family: 'Fira Code', monospace;
    --mono--font-size: var(--font-size);
    --mono--font-weight--normal: 400;
    --mono--font-weight--heavy: 700;
}
