/***************************************
    Colors
***************************************/

:root
{
    @black: Black;
    @white: White;

    --black: @black;
    --white: @white;

    @near: 95%;
    --near-black: mix(@black, @white, @near);
    --near-white: mix(@white, @black, @near);

    @semi: 80%;
    --semi-black: mix(@black, @white, @semi);
    --semi-white: mix(@white, @black, @semi);

    /* THANKS: https://tailwindcss.com/docs/customizing-colors#red */
    --red-100: #FFF5F5;
    --red-200: #FED7D7;
    --red-300: #FEB2B2;
    --red-400: #FC8181;
    --red-500: #F56565;
    --red-600: #E53E3E;
    --red-700: #C53030;
    --red-800: #9B2C2C;
    --red-900: #742A2A;

    /* THANKS: https://tailwindcss.com/docs/customizing-colors#yellow */
    --yellow-100: #FFFFF0;
    --yellow-200: #FEFCBF;
    --yellow-300: #FAF089;
    --yellow-400: #F6E05E;
    --yellow-500: #ECC94B;
    --yellow-600: #D69E2E;
    --yellow-700: #B7791F;
    --yellow-800: #975A16;
    --yellow-900: #744210;

    /* THANKS: https://tailwindcss.com/docs/customizing-colors#green */
    --green-100: #F0FFF4;
    --green-200: #C6F6D5;
    --green-300: #9AE6B4;
    --green-400: #68D391;
    --green-500: #48BB78;
    --green-600: #38A169;
    --green-700: #2F855A;
    --green-800: #276749;
    --green-900: #22543D;

    /* THANKS: https://tailwindcss.com/docs/customizing-colors#purple */
    --purple-100: #FAF5FF;
    --purple-200: #E9D8FD;
    --purple-300: #D6BCFA;
    --purple-400: #B794F4;
    --purple-500: #9F7AEA;
    --purple-600: #805AD5;
    --purple-700: #6B46C1;
    --purple-800: #553C9A;
    --purple-900: #44337A;
}
