/***********************************************************
  Root
***********************************************************/
/***************************************
  Fonts
***************************************/
@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Alegreya Italic"), local("Alegreya-Italic"),
    url(https://fonts.gstatic.com/s/alegreya/v13/4UaHrEBBsBhlBjvfkSLkx60.ttf)
      format("truetype");
}
@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Alegreya Bold Italic"), local("Alegreya-BoldItalic"),
    url(https://fonts.gstatic.com/s/alegreya/v13/4UaErEBBsBhlBjvfkSLk_xHMwps.ttf)
      format("truetype");
}
@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Alegreya Regular"), local("Alegreya-Regular"),
    url(https://fonts.gstatic.com/s/alegreya/v13/4UaBrEBBsBhlBjvfkRLm.ttf)
      format("truetype");
}
@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Alegreya Bold"), local("Alegreya-Bold"),
    url(https://fonts.gstatic.com/s/alegreya/v13/4UaGrEBBsBhlBjvfkSpa4o3J.ttf)
      format("truetype");
}
@font-face {
  font-family: "Alegreya SC";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Alegreya SC Italic"), local("AlegreyaSC-Italic"),
    url(https://fonts.gstatic.com/s/alegreyasc/v11/taiMGmRtCJ62-O0HhNEa-Z6q2ZU.ttf)
      format("truetype");
}
@font-face {
  font-family: "Alegreya SC";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Alegreya SC Bold Italic"), local("AlegreyaSC-BoldItalic"),
    url(https://fonts.gstatic.com/s/alegreyasc/v11/taiRGmRtCJ62-O0HhNEa-Z6q4Sk0SK8.ttf)
      format("truetype");
}
@font-face {
  font-family: "Alegreya SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Alegreya SC Regular"), local("AlegreyaSC-Regular"),
    url(https://fonts.gstatic.com/s/alegreyasc/v11/taiOGmRtCJ62-O0HhNEa-a6o.ttf)
      format("truetype");
}
@font-face {
  font-family: "Alegreya SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Alegreya SC Bold"), local("AlegreyaSC-Bold"),
    url(https://fonts.gstatic.com/s/alegreyasc/v11/taiTGmRtCJ62-O0HhNEa-ZYU_LUx.ttf)
      format("truetype");
}
@font-face {
  font-family: "Alegreya Sans";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local("Alegreya Sans Thin Italic"), local("AlegreyaSans-ThinItalic"),
    url(https://fonts.gstatic.com/s/alegreyasans/v10/5aUv9_-1phKLFgshYDvh6Vwt7V9V3G1W.ttf)
      format("truetype");
}
@font-face {
  font-family: "Alegreya Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Alegreya Sans Italic"), local("AlegreyaSans-Italic"),
    url(https://fonts.gstatic.com/s/alegreyasans/v10/5aUt9_-1phKLFgshYDvh6Vwt7V9tuA.ttf)
      format("truetype");
}
@font-face {
  font-family: "Alegreya Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Alegreya Sans Bold Italic"), local("AlegreyaSans-BoldItalic"),
    url(https://fonts.gstatic.com/s/alegreyasans/v10/5aUo9_-1phKLFgshYDvh6Vwt7V9VBEh2jg.ttf)
      format("truetype");
}
@font-face {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Alegreya Sans Thin"), local("AlegreyaSans-Thin"),
    url(https://fonts.gstatic.com/s/alegreyasans/v10/5aUt9_-1phKLFgshYDvh6Vwt5TltuA.ttf)
      format("truetype");
}
@font-face {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Alegreya Sans Regular"), local("AlegreyaSans-Regular"),
    url(https://fonts.gstatic.com/s/alegreyasans/v10/5aUz9_-1phKLFgshYDvh6Vwt3V0.ttf)
      format("truetype");
}
@font-face {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Alegreya Sans Bold"), local("AlegreyaSans-Bold"),
    url(https://fonts.gstatic.com/s/alegreyasans/v10/5aUu9_-1phKLFgshYDvh6Vwt5eFImE0.ttf)
      format("truetype");
}
@font-face {
  font-family: "Alegreya Sans SC";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local("Alegreya Sans SC Thin Italic"), local("AlegreyaSansSC-ThinItalic"),
    url(https://fonts.gstatic.com/s/alegreyasanssc/v9/mtGl4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdlgRB.ttf)
      format("truetype");
}
@font-face {
  font-family: "Alegreya Sans SC";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Alegreya Sans SC Italic"), local("AlegreyaSansSC-Italic"),
    url(https://fonts.gstatic.com/s/alegreyasanssc/v9/mtGn4-RGJqfMvt7P8FUr0Q1j-Hf1Bkxl8g.ttf)
      format("truetype");
}
@font-face {
  font-family: "Alegreya Sans SC";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Alegreya Sans SC Bold Italic"), local("AlegreyaSansSC-BoldItalic"),
    url(https://fonts.gstatic.com/s/alegreyasanssc/v9/mtGk4-RGJqfMvt7P8FUr0Q1j-Hf1BkxdTiFhNQ.ttf)
      format("truetype");
}
@font-face {
  font-family: "Alegreya Sans SC";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Alegreya Sans SC Thin"), local("AlegreyaSansSC-Thin"),
    url(https://fonts.gstatic.com/s/alegreyasanssc/v9/mtGn4-RGJqfMvt7P8FUr0Q1j-Hf1Dipl8g.ttf)
      format("truetype");
}
@font-face {
  font-family: "Alegreya Sans SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Alegreya Sans SC Regular"), local("AlegreyaSansSC-Regular"),
    url(https://fonts.gstatic.com/s/alegreyasanssc/v9/mtGh4-RGJqfMvt7P8FUr0Q1j-Hf1Nk4.ttf)
      format("truetype");
}
@font-face {
  font-family: "Alegreya Sans SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Alegreya Sans SC Bold"), local("AlegreyaSansSC-Bold"),
    url(https://fonts.gstatic.com/s/alegreyasanssc/v9/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DvJA0iQ.ttf)
      format("truetype");
}
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v8/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sFVc.ttf)
    format("truetype");
}
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v8/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_NprFVc.ttf)
    format("truetype");
}
:root {
  --font-size: 1.6rem;
  --head--font-family: "Alegreya", serif;
  --head--font-size: var(--font-size);
  --head--font-weight--normal: 400;
  --head--font-weight--heavy: 700;
  --head-sc--font-family: "Alegreya SC", serif;
  --head-sc--font-size: var(--head--font-size);
  --body--font-family: "Alegreya Sans", serif;
  --body--font-size: var(--font-size);
  --body--font-weight--normal: 400;
  --body--font-weight--heavy: 700;
  --body-sc--font-family: "Alegreya Sans SC", serif;
  --body-sc--font-size: var(--body--font-size);
  --tail--font-family: "Alegreya Sans", serif;
  --tail--font-size: var(--font-size);
  --tail--font-weight--normal: 100;
  --tail--font-weight--heavy: 400;
  --tail-sc--font-family: "Alegreya Sans SC", serif;
  --tail-sc--font-size: var(--tail--font-size);
  --mono--font-family: "Fira Code", monospace;
  --mono--font-size: var(--font-size);
  --mono--font-weight--normal: 400;
  --mono--font-weight--heavy: 700;
}
/***************************************
  Colors
***************************************/
:root {
  --black: Black;
  --white: White;
  --near-black: #0d0d0d;
  --near-white: #f2f2f2;
  --semi-black: #333333;
  --semi-white: #cccccc;
  /* THANKS: https://tailwindcss.com/docs/customizing-colors#red */
  --red-100: #fff5f5;
  --red-200: #fed7d7;
  --red-300: #feb2b2;
  --red-400: #fc8181;
  --red-500: #f56565;
  --red-600: #e53e3e;
  --red-700: #c53030;
  --red-800: #9b2c2c;
  --red-900: #742a2a;
  /* THANKS: https://tailwindcss.com/docs/customizing-colors#yellow */
  --yellow-100: #fffff0;
  --yellow-200: #fefcbf;
  --yellow-300: #faf089;
  --yellow-400: #f6e05e;
  --yellow-500: #ecc94b;
  --yellow-600: #d69e2e;
  --yellow-700: #b7791f;
  --yellow-800: #975a16;
  --yellow-900: #744210;
  /* THANKS: https://tailwindcss.com/docs/customizing-colors#green */
  --green-100: #f0fff4;
  --green-200: #c6f6d5;
  --green-300: #9ae6b4;
  --green-400: #68d391;
  --green-500: #48bb78;
  --green-600: #38a169;
  --green-700: #2f855a;
  --green-800: #276749;
  --green-900: #22543d;
  /* THANKS: https://tailwindcss.com/docs/customizing-colors#purple */
  --purple-100: #faf5ff;
  --purple-200: #e9d8fd;
  --purple-300: #d6bcfa;
  --purple-400: #b794f4;
  --purple-500: #9f7aea;
  --purple-600: #805ad5;
  --purple-700: #6b46c1;
  --purple-800: #553c9a;
  --purple-900: #44337a;
}
/***************************************
  Sizes
***************************************/
:root {
  /* Reasonable Defaults */
  font-size: 62.5%;
  /* Absolute Sizes */
  --abs-base: 2px;
  --abs-scale: 2;
  --abs-1: calc(var(--abs-2) / var(--abs-scale));
  --abs-2: var(--abs-base);
  --abs-3: calc(var(--abs-2) * var(--abs-scale));
  --abs-4: calc(var(--abs-3) * var(--abs-scale));
  --abs-5: calc(var(--abs-4) * var(--abs-scale));
  --abs-6: calc(var(--abs-5) * var(--abs-scale));
  --abs-7: calc(var(--abs-6) * var(--abs-scale));
  --abs-8: calc(var(--abs-7) * var(--abs-scale));
  --abs-9: calc(var(--abs-8) * var(--abs-scale));
  --abs-10: calc(var(--abs-9) * var(--abs-scale));
  /* Relative Sizes */
  --rel-step: 0.5rem;
  --rel-1: calc(0 + var(--rel-step));
  --rel-2: calc(var(--rel-1) + var(--rel-step));
  --rel-3: calc(var(--rel-2) + var(--rel-step));
  --rel-4: calc(var(--rel-3) + var(--rel-step));
  --rel-5: calc(var(--rel-4) + var(--rel-step));
  --rel-6: calc(var(--rel-5) + var(--rel-step));
  --rel-7: calc(var(--rel-6) + var(--rel-step));
  --rel-8: calc(var(--rel-7) + var(--rel-step));
  --rel-9: calc(var(--rel-8) + var(--rel-step));
  --rel-10: calc(var(--rel-9) + var(--rel-step));
}
/***********************************************************
  Base
***********************************************************/
/***************************************
  Sizing
***************************************/
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-clip: padding-box;
}
html,
body {
  width: 100%;
}
/***************************************
  Head Text
***************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  --family: var(--head--font-family);
  /* --size: at h{level}; */
  --space: calc(var(--size) / 4);
  --weight: var(--head--font-weight--normal);
  --color: var(--semi-black);
  font-family: var(--family);
  font-size: var(--size);
  font-weight: var(--weight);
  color: var(--color);
  margin-left: var(--space);
  margin-right: var(--space);
  margin-inline: var(--space);
}
h1 b,
h2 b,
h3 b,
h4 b,
h5 b,
h6 b,
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  --weight: var(--head--font-weight--heavy);
}
h1 {
  --size: calc(var(--head--font-size) + (5 * var(--rel-step)));
}
h2 {
  --size: calc(var(--head--font-size) + (4 * var(--rel-step)));
}
h3 {
  --size: calc(var(--head--font-size) + (3 * var(--rel-step)));
}
h4 {
  --size: calc(var(--head--font-size) + (2 * var(--rel-step)));
}
h5 {
  --size: calc(var(--head--font-size) + (1 * var(--rel-step)));
}
h6 {
  --size: calc(var(--head--font-size) + (0 * var(--rel-step)));
}
/***************************************
  Body Text
***************************************/
body {
  --family: var(--body--font-family);
  --size: var(--body--font-size);
  --weight: var(--body--font-weight--normal);
  --color: var(--semi-black);
  font-family: var(--family);
  font-size: var(--size);
  font-weight: var(--weight);
  color: var(--near-black);
}
body b,
body strong {
  --weight: var(--body--font-weight--heavy);
}
p {
  margin-left: var(--rel-2);
  margin-right: var(--rel-2);
  margin-inline: var(--rel-2);
}
[dir="ltr"] p:first-child {
  margin-left: 0;
}
[dir="rtl"] p:first-child {
  margin-right: 0;
}
p:first-child {
  -webkit-margin-start: 0;
  margin-inline-start: 0;
}
[dir="ltr"] p:last-child {
  margin-right: 0;
}
[dir="rtl"] p:last-child {
  margin-left: 0;
}
p:last-child {
  -webkit-margin-end: 0;
  margin-inline-end: 0;
}
a {
  color: var(--purple-600);
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}
a:visited {
  color: var(--purple-800);
}
/***********************************************************
  Media
***********************************************************/
